<html>
    <head>
        <title>vue.js</title>
        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>

    <body>
        <h1>vue.js</h1>
        <hr />
        <a href="index1.html">previous page</a>
        <hr />
        <div id="demo">
            <h1>Latest Vue.js Commits</h1>
            <template v-for="branch in branches">
                <input type="radio" :id="branch" :value="branch" name="branch" v-model="currentBranch">
                <label :for="branch">{{ branch }}</label>
            </template>
            <p>sturm-solutions/vue.js@{{ currentBranch }}</p>
            <ul>
                <li v-for="record in commits">
                    <a :href="record.html_url" target="_blank" class="commit">{{ record.sha.slice(0, 7) }}</a>
                    - <span class="message">{{ record.commit.message | truncate }}</span> by <span class="author">{{ record.commit.author.name }}</span> at <span class="date">{{ record.commit.author.date | formatDate }}</span>
                </li>
            </ul>
        </div>
        <!-- js -->
        <script src="app2.js"></script>
    </body>
</html>